*{
    font-family: 'Titillium Web', sans-serif;
}
.green{
    color:rgba(20, 202, 185,0.9) ;
}
.red{
    color: #dc3545;
}
.title-1{
    position: relative;
}
.title-1:before{
    position: absolute;
    bottom:-15px;
    left: 50%;
    transform: translate(-50%);
    display: inline-block;
    height: 3px;
    width: 75px;
    background-color: #d55342;
    content: "";
    border-radius: 50%;
}
.overlay1{
    position: relative;
}
/* .overlay1::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color:rgba(79, 85, 84, 0.4);
} */

.overlay{
    position: relative;
}
.overlay::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    /* background: rgba(255,199,90,0.9); */
    background-color:rgba(20, 202, 185,0.9);
}
.carousel-caption{
    top:35%;
}
.carousel-item{
    max-height: 100vh !important;
 /* background-color:rgba(20, 202, 185,0.6); */
    background-color: rgba(7, 7, 7, 0.6);
}
.carousel-item img{
mix-blend-mode:overlay;
}
.homecardbg{
    background: hsl(194, 71%, 74%);
    padding: 30px;
    /* border: .5px solid rgba(129, 129, 129, .5); */
}

/* What We Do */
.what-we-do .card{
    border: none !important;
    text-align: center;
    margin: 0 auto;
}
.what-we-do .card:hover{
   box-shadow: 0 6px 13px rgba(214,214,214,.75);
}

/* What We Do End */

/* UpComming Events */
#events{
    height: 700px;
    background:#e5e5e5;
}
#events .Event-bg-top{
height:354px;
width: 100%;
padding: 50px;
background-image: url("../img/health-event.jpg");
background-position: 0px 0px;
background-attachment: scroll;
background-repeat: no-repeat;
background-size: cover;
}
.eventsCards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    position: absolute;
    top: calc(88% - -16px);
    left: 50%;
    transform: translate(-50%,-50%);
}
.eventsCards .card{
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 6px 13px rgba(214,214,214,.75);
    overflow: hidden;
    border: none;
}
.Event-timmings{
    color: #959393;
}
.moreEventBtn{
margin-top: 240px;
}
.moreEventBtn:hover{
    color: rgb(29, 32, 34);
}
.moreEventBtn{
    background-color:rgba(20, 202, 185,0.9);
    color: aliceblue;
}
/* Upcomming Events End */

/* Video-Section */
.video{
    border-radius: 10px;
}
/* videoideo Section end */

/* counter */
.counter{
    background: #e4edf5;    
}
/* Counter end */

/* Mision and Vision */
.vision{
    background-image: url(../img/img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 350px;
    position: relative;
}
.vision:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,.2) 30%, rgba(0,123,255,.7) 90%);
}
.vision-text{
    padding: 7rem;
}
.vision-text h3{
    line-height: 1.7;
}
/* Mision and Vision  End*/
.nav-tabs{
    display:flex;
    flex-direction: column;
    border-bottom: none;
}
.nav-tabs .nav-link{
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
}
.nav-item:hover{
    /* border: 1px solid bisque; */
    box-shadow: 0 6px 13px rgba(214,214,214,.75);

}
.tab-pane h5{
    line-height:1.6;
}
.carousel-caption{
    animation: fadeup 1s ease-in-out;
}

@keyframes fadeup{
    0%{
        transform: translatey(250px);
    }
    100%{
        transform: translatey(0px);
    }
}
