.title-1{
    position: relative;
}
.title-1:before{
    position: absolute;
    bottom:-15px;
    left: 50%;
    transform: translate(-50%);
    display: inline-block;
    height: 3px;
    width: 75px;
    background-color: #d55342;
    content: "";
    border-radius: 50%;
}

.overlay{
    position: relative;
}
.overlay::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    /* background: rgba(255,199,90,0.9); */
    background-color:rgba(20, 202, 185,0.9);
}
.carousel-item{
    max-height: 100vh !important;
}
.homecardbg{
    background: hsl(194, 71%, 74%);
    padding: 30px;
    /* border: .5px solid rgba(129, 129, 129, .5); */
}

/* What We Do */
.what-we-do .card{
    border: none !important;
    text-align: center;
    margin: 0 auto;
}
.what-we-do .card:hover{
   box-shadow: 0 6px 13px rgba(214,214,214,.75);
}

/* What We Do End */

/* UpComming Events */
#events{
    height: 700px;
    background:#e5e5e5;
}
#events .Event-bg-top{
height:354px;
width: 100%;
padding: 50px;
background-image: url("../img/health-event.jpg");
background-position: 0px 0px;
background-attachment: scroll;
background-repeat: no-repeat;
background-size: cover;
}
.eventsCards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    position: absolute;
    top: calc(88% - -16px);
    left: 50%;
    transform: translate(-50%,-50%);
}
.eventsCards .card{
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 6px 13px rgba(214,214,214,.75);
    overflow: hidden;
    border: none;
}
.Event-timmings{
    color: #959393;
}
.moreEventBtn{
margin-top: 240px;
}
.moreEventBtn:hover{
    color: rgb(29, 32, 34);
}
.moreEventBtn{
    background-color:rgba(20, 202, 185,0.9);
    color: aliceblue;
}
/* Upcomming Events End */